# You can obtain the SENTRY_AUTH_TOKEN from the private Nordpass engineering folder. You may need to request access.
# chrome-extension://eiaeiblijfjekdanodkjadfinkhbfgcd/app.html#/vault/1c6f28f0-242d-11ef-8ae5-01fe71cae214?type=shared_folder&id=4bbe1122-d421-11ee-8d27-06d567b450ef
SENTRY_AUTH_TOKEN=

# Create your own wallet connect project id at https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Tenderly Staging
PUBLIC_NEXT_TENDERLY_STAGING_RPC_URL=

# Backend API
NEXT_PUBLIC_BACKEND_ENDPOINT="https://ion-backend-git-staging-ion-protocol.vercel.app"